* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Overall Site Styling*/
.h1 {
    margin-left: 10px;
    margin-right: auto;
}

h3 {
    text-align: center;
}

p {
    padding: 10px;
}

li {
    padding: 0px 10px;
    margin: 0px 10px;
}

a:link {
    color: black;
    text-decoration: none;
    padding: 1px 5px;
    margin: 0px 10px;
}

a:visited {
    color: black;
}

a:hover {
    font-size: larger;
}


/*Nav Bar*/
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: larger;
    background-color: lightblue;
    border: 2px solid white;
    border-radius: 10px;
    align-items: center;
}

.header {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}


/*Body*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    background-color: lightcyan;
}


/*Footer*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: larger;
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 10px;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.copyright {
    margin-left: 10px;
    margin-right: auto;
}

.footer > ul {
    list-style-type: none;
    margin-right: 10px;
}


/*Home Screen*/
.post-preview1 {
    grid-row: 2 / 3;    
    grid-column: 1 / 2;
    margin: 15px 10px;
    border: 3px solid lightblue;
    border-radius: 7px;
}

.post-preview1 > img {
    width: 150px;
    float: left;
    border-radius: 20px;
    padding: 10px;
}

.post-preview2 {
    grid-row: 2 / 3;    
    grid-column: 2 / 3;
    margin: 15px 10px;
    border: 3px solid lightblue;
    border-radius: 7px;
}

.post-preview3 {
    grid-row: 2 / 3;    
    grid-column: 3 / 4;
    margin: 15px 10px;
    border: 3px solid lightblue;
    border-radius: 7px;
}

.post-preview3 > img {
    width: 150px;
    float: left;
    border-radius: 20px;
    padding: 10px;
}


/*About Screen*/
.about {
    margin: 15px 10px;
    border: 3px solid lightblue;
    border-radius: 7px;
    grid-column: 1 / 4;
}

.about > img {
    width: 500px;
    float: left;
    border-radius: 20px;
    padding: 10px;
}


/*Submit Screen*/
.submit {
    margin: 15px 10px;
    border: 3px solid lightblue;
    border-radius: 7px;
    grid-column: 1 / 4;
}


/*Phone*/
@media (max-width: 812px) {


/*Nav Bar*/
    .nav-bar {
        flex-direction: column;
        justify-content: center;
    }

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }


/*Footer*/
    .footer {
        flex-direction: column;
        justify-content: center;
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    .copyright {
        margin: 10px;
    }

    .footer > ul {
        list-style-type: none;
        margin: 10px;
    }


/*Home Screen*/
    .post-preview1 {
        grid-row: 2 / 3;    
        grid-column: 1 / 2;
    }

    .post-preview2 {
        grid-row: 3 / 4;    
        grid-column: 1 / 2;
    }

    .post-preview3 {
        grid-row: 4 / 5;    
        grid-column: 1 / 2;
    }


/*About Screen*/
    .about {
        grid-column: 1 / 2;
    }

    .about > img {
        width: 350px;
    }


/*Submit Screen*/
    .submit {
        grid-column: 1 / 2;
    }
}